<!-- start content -->
<section class="user-right-side-content pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-xl-2">
             <app-side-navigation></app-side-navigation>
          </div>
          <div class="col-lg-9 col-xl-10 ps-md-4">

            <!-- start search -->
            <div class="search-bg px-4 pb-4 pt-2 px-lg-5 pb-lg-3 pt-lg-2 mb-3">
              <div class="row align-items-end">
                <div class="col-sm-6 col-md-2 mt-3">
                  <select name="selectedYear" class="form-select" [(ngModel)]="selectedYear" (change)="onYearChange($event)">
                    <option value="">-- Select Year --</option>
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                  </select>
                </div>

                <div class="col-sm-6 col-md-1 mt-3">
                  <div class="d-grid">
                    <button class="btn btn-primary py-2" (click)="onSubmit()" [disabled]="!selectedYear ">Go</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- end search -->

              <!-- start report generated -->
              <div class="report-generated-bg px-4 py-3 mb-4 bg-body-secondary" *ngIf ="report.length">
                <div class="row">
                  <div class="col-sm-6">
                      <h5 class="mb-0">Rainfall Recording & Analysis</h5>
                      <span>Circles wise Dryspell (based on 2.5 mm rain) in Maharashtra State: Year -{{selectedYear}}</span>
                  </div>

              </div>
              </div>
              <!-- start report generated -->

              <!-- start result -->
              <div *ngIf ="report.length">
              <div class="user-data-result-bg">
                  <div class="user-data-result-header mb-3">
                      <div class="row align-items-center">
                          <div class="col">
                            <button id="download-pdf" type="button" class="btn btn-dark me-2" (click)="downloadPdf()">Pdf</button>
                            <button type="button" class="btn btn-dark ms-2" (click)="downloadExcel()">Excel</button>
                          </div>
                      </div>
                  </div>
                  <div class="table-responsive" >
                      <table class="table table-bordered">
                      <thead class="table-light">
                        <tr>
                            <th>Sr</th>
                            <th>District</th>
                            <th>Taluka</th>
                            <th>Circle</th>
                        </tr>
                    </thead>
                  <tbody>
                    <tr *ngFor="let circle of report let idx = index">
                      <td>{{ idx + 1 }}</td>
                      <td>{{ circle.District_name }}</td>
                      <td>{{ circle.TehsilName }}</td>
                      <td>{{ circle.circlename }}</td>
                      <ng-container *ngFor="let DateData of circle.DateData">
                         <td>{{ DateData.start_date  }} To {{ DateData.end_date  }}</td>
                         <td>{{ DateData.rain }}</td>
                         </ng-container>
                    </tbody>
                    </table>
                  </div>
              </div>
            </div>
              <!-- end result -->
          </div>
      </div>
  </div>
</section>
<!-- end content -->

