<!-- start content -->
<section class="user-right-side-content pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-xl-2">
             <app-side-navigation></app-side-navigation>
          </div>
          <div class="col-lg-9 col-xl-10 ps-md-4">
            <div *ngIf="report && report.length">
          <div class="report-generated-bg px-4 py-3 mb-4 bg-body-secondary">
            <div class="row">
                <span>Classification of Talukas According to Percentage of Rainfall for Season</span>
            </div>
          </div>

              <div class="user-data-result-bg">
                  <div class="user-data-result-header mb-3">
                      <div class="row align-items-center">
                          <div class="col">
                            <button id="download-pdf" type="button" class="btn btn-dark me-2" (click)="downloadPdf()">Pdf</button>
                            <button type="button" class="btn btn-dark ms-2" (click)="downloadExcel()">Excel</button>
                          </div>
                      </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead class="table-light">
                          <tr>
                              <th rowspan="2">Sr</th>
                              <th rowspan="2">District</th>
                              <th *ngFor="let month of availableMonths" colspan="5">{{ getMonthName(month) }}</th>
                              <th colspan="5">1st Jun to till date</th>
                          </tr>
                          <tr>
                              <ng-container *ngFor="let month of availableMonths">
                                  <th>below 25%</th>
                                  <th>25%-50%</th>
                                  <th>50%-75%</th>
                                  <th>75%-100%</th>
                                  <th>100% Above</th>
                              </ng-container>
                              <th>below 25%</th>
                              <th>25%-50%</th>
                              <th>50%-75%</th>
                              <th>75%-100%</th>
                              <th>100% Above</th>
                          </tr>
                      </thead>
                      <tbody>
                          <ng-container *ngFor="let divisionData of report">
                              <tr *ngFor="let district of divisionData.districts; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ district.district }}</td>
                                  <ng-container *ngFor="let month of availableMonths">
                                      <td>{{ district.months[month]?.['below25'] !== 0 ? district.months[month]?.['below25'] : '-' }}</td>
                                      <td>{{ district.months[month]?.['25-50'] !== 0 ? district.months[month]?.['25-50'] : '-' }}</td>
                                      <td>{{ district.months[month]?.['50-75'] !== 0 ? district.months[month]?.['50-75'] : '-' }}</td>
                                      <td>{{ district.months[month]?.['75-100'] !== 0 ? district.months[month]?.['75-100'] : '-' }}</td>
                                      <td>{{ district.months[month]?.['100above'] !== 0 ? district.months[month]?.['100above'] : '-' }}</td>
                                  </ng-container>
                                  <td>{{ district.overall['below25'] !== 0 ? district.overall['below25'] : '-' }}</td>
                                  <td>{{ district.overall['25-50'] !== 0 ? district.overall['25-50'] : '-' }}</td>
                                  <td>{{ district.overall['50-75'] !== 0 ? district.overall['50-75'] : '-' }}</td>
                                  <td>{{ district.overall['75-100'] !== 0 ? district.overall['75-100'] : '-' }}</td>
                                  <td>{{ district.overall['100above'] !== 0 ? district.overall['100above'] : '-' }}</td>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th>Division - {{ divisionData.division }}</th>
                                  <ng-container *ngFor="let month of availableMonths">
                                      <th>{{ calculateColumnSum(divisionData.districts, month, 'below25') !== 0 ? calculateColumnSum(divisionData.districts, month, 'below25') : '-' }}</th>
                                      <th>{{ calculateColumnSum(divisionData.districts, month, '25-50') !== 0 ? calculateColumnSum(divisionData.districts, month, '25-50') : '-' }}</th>
                                      <th>{{ calculateColumnSum(divisionData.districts, month, '50-75') !== 0 ? calculateColumnSum(divisionData.districts, month, '50-75') : '-' }}</th>
                                      <th>{{ calculateColumnSum(divisionData.districts, month, '75-100') !== 0 ? calculateColumnSum(divisionData.districts, month, '75-100') : '-' }}</th>
                                      <th>{{ calculateColumnSum(divisionData.districts, month, '100above') !== 0 ? calculateColumnSum(divisionData.districts, month, '100above') : '-' }}</th>
                                  </ng-container>
                                  <th>{{ calculateColumnSum(divisionData.districts, -1, 'below25') !== 0 ? calculateColumnSum(divisionData.districts, -1, 'below25') : '-' }}</th>
                                  <th>{{ calculateColumnSum(divisionData.districts, -1, '25-50') !== 0 ? calculateColumnSum(divisionData.districts, -1, '25-50') : '-' }}</th>
                                  <th>{{ calculateColumnSum(divisionData.districts, -1, '50-75') !== 0 ? calculateColumnSum(divisionData.districts, -1, '50-75') : '-' }}</th>
                                  <th>{{ calculateColumnSum(divisionData.districts, -1, '75-100') !== 0 ? calculateColumnSum(divisionData.districts, -1, '75-100') : '-' }}</th>
                                  <th>{{ calculateColumnSum(divisionData.districts, -1, '100above') !== 0 ? calculateColumnSum(divisionData.districts, -1, '100above') : '-' }}</th>
                              </tr>
                          </ng-container>
                          <tr>
                              <th></th>
                              <th>Total -</th>
                              <ng-container *ngFor="let month of availableMonths">
                                  <th>{{ calculateMonthlyOverallSum(month, 'below25') !== 0 ? calculateMonthlyOverallSum(month, 'below25') : '-' }}</th>
                                  <th>{{ calculateMonthlyOverallSum(month, '25-50') !== 0 ? calculateMonthlyOverallSum(month, '25-50') : '-' }}</th>
                                  <th>{{ calculateMonthlyOverallSum(month, '50-75') !== 0 ? calculateMonthlyOverallSum(month, '50-75') : '-' }}</th>
                                  <th>{{ calculateMonthlyOverallSum(month, '75-100') !== 0 ? calculateMonthlyOverallSum(month, '75-100') : '-' }}</th>
                                  <th>{{ calculateMonthlyOverallSum(month, '100above') !== 0 ? calculateMonthlyOverallSum(month, '100above') : '-' }}</th>
                              </ng-container>
                              <th>{{ calculateOverallSum('below25') !== 0 ? calculateOverallSum('below25') : '-' }}</th>
                              <th>{{ calculateOverallSum('25-50') !== 0 ? calculateOverallSum('25-50') : '-' }}</th>
                              <th>{{ calculateOverallSum('50-75') !== 0 ? calculateOverallSum('50-75') : '-' }}</th>
                              <th>{{ calculateOverallSum('75-100') !== 0 ? calculateOverallSum('75-100') : '-' }}</th>
                              <th>{{ calculateOverallSum('100above') !== 0 ? calculateOverallSum('100above') : '-' }}</th>
                          </tr>
                      </tbody>
                  </table>



                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
