<!-- start content -->
<section class="user-right-side-content pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-xl-2">
        <app-side-navigation></app-side-navigation>
      </div>
      <div class="col-lg-9 col-xl-10 ps-md-4">
         <!-- start search -->
         <div class="search-bg px-4 pb-4 pt-2 px-lg-5 pb-lg-3 pt-lg-2 mb-3">
          <div class="row align-items-end">

            <div class="col-sm-6 col-md-2 mt-3" >
              <select  name="selectedMonth" class="form-select" [(ngModel)]="selectedMonth">
                  <option  value="">-- For month --</option>
                  <option *ngFor="let month of arraymonth"[value] ='month.value' >{{month.name}}</option>
              </select>
          </div>

          <div class="col-sm-6 col-md-1 mt-3">
            <div class="d-grid">
                <button class="btn btn-primary py-2" (click)="onSubmit()">Go</button>
            </div>
        </div>
          </div>
        </div>
      <!-- end search -->

        <div>
          <div class="user-data-result-bg" *ngIf="hasData()">
          <div class="report-generated-bg px-4 py-3 mb-4 bg-body-secondary">
            <div class="row">
              <h5 class="mb-0">Rainfall Recording & Analysis</h5>
              <span>State :: <b>Maharashtra</b> Percent Categorization wise list of Circles as compared to normal rainfall ::(as on {{ currentDate | date: 'dd,MMMM-yyyy' }})</span>
            </div>
            </div>
            <div class="user-data-result-header mb-3">
              <div class="row align-items-center">
                <div class="col">
                  <button id="download-pdf" type="button" class="btn btn-dark me-2" (click)="downloadPdf()">Pdf</button>
                  <button type="button" class="btn btn-dark ms-2" (click)="downloadExcel()">Excel</button>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>Sr</th>
                  <th>District</th>
                  <th>Tehsil</th>
                  <th>Circles</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let intensity of getOrderedIntensityGroups()">
                  <tr>
                    <td colspan="3"><b>{{ intensity }}%</b></td>
                    <td><b>Total</b></td>
                    <td><b>{{ getTotalCount(groupedData[intensity]) }}</b></td>
                  </tr>
                  <ng-container *ngFor="let item of groupedData[intensity]; let i = index;">
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.district_name }}</td>
                      <td>{{ item.Tehsil_name }}</td>
                      <td>
                        <div style="white-space: pre-wrap; word-wrap: break-word;">
                          {{ item.Tehsils | slice: 0: 40 }}
                          <br *ngIf="(item.Tehsils | slice: 40).length > 0" />
                          {{ item.Tehsils | slice: 40 }}
                        </div>
                      </td>
                      <td>{{ item.Count }}</td>
                    </tr>
                  </ng-container>
                </ng-container>
                <tr>
                  <td colspan="4" style="text-align: right;"><b>Number of Tehsils</b></td>
                  <td><b>{{ getTotalTehsilsCount() }}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end content -->
