<!-- start content -->
<section class="user-right-side-content pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-xl-2">
             <app-side-navigation></app-side-navigation>
          </div>
          <div class="col-lg-9 col-xl-10 ps-md-4">

          <!-- start search -->
          <div class="search-bg px-4 pb-4 pt-2 px-lg-5 pb-lg-3 pt-lg-2 mb-3">
            <div class="row align-items-end">

              <div class="col-sm-6 col-md-2 mt-3" >
                <select  name="selectedMonth" class="form-select" [(ngModel)]="selectedMonth">
                    <option  value="">-- For month --</option>
                    <option *ngFor="let month of arraymonth"[value] ='month.value' >{{month.name}}</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-1 mt-3">
              <div class="d-grid">
                  <button class="btn btn-primary py-2" (click)="onSubmit()">Go</button>
              </div>
          </div>
            </div>
          </div>
        <!-- end search -->
           <div *ngIf=" result && result.length">
              <!-- start report generated -->
              <div class="report-generated-bg px-4 py-3 mb-4 bg-body-secondary">
                  <div class="row">
                      <div>
                          <h5 class="mb-0">Rainfall Recording & Analysis</h5>
                          <span>State :: Maharashtra Percent Categorization wise number of District ::(for {{selectedMonth | date:'MMM'}})</span>
                      </div>

                  </div>
              </div>
              <!-- start report generated -->

              <!-- start result -->
              <div class="user-data-result-bg">
                  <div class="user-data-result-header mb-3">
                      <div class="row align-items-center">
                          <div class="col">
                            <button id="download-pdf" type="button" class="btn btn-dark me-2" (click)="downloadPdf()">Pdf</button>
                            <button type="button" class="btn btn-dark ms-2" (click)="downloadExcel()">Excel</button>
                          </div>
                      </div>
                  </div>
                  <div class="table-responsive">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead class="table-light">
                          <tr>
                              <th>Sr.</th>
                              <th>Division</th>
                              <th>Below 25%</th>
                              <th>25%-50%</th>
                              <th>50%-75%</th>
                              <th>75%-100%</th>
                              <th>100%- Above</th>
                              <th>Total</th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let group of groupedData; let i = index;">
                              <tr>
                                  <td>{{i + 1}}</td>
                                  <td>{{group.division_name}}</td>
                                  <td>{{getCount(group.data, 'below 25')}}</td>
                                  <td>{{getCount(group.data, '25-50')}}</td>
                                  <td>{{getCount(group.data, '50-75')}}</td>
                                  <td>{{getCount(group.data, '75-100')}}</td>
                                  <td>{{getCount(group.data, '100 above')}}</td>
                                  <td>{{getTotalCount(group.data)}}</td>
                              </tr>
                          </tbody>
                          <tr>
                            <th ></th>
                            <th >Total -</th>
                            <th>{{ getTotalIntensityGroupTotal('below 25') }}</th>
                            <th>{{ getTotalIntensityGroupTotal('25-50') }}</th>
                            <th>{{ getTotalIntensityGroupTotal('50-75') }}</th>
                            <th>{{ getTotalIntensityGroupTotal('75-100') }}</th>
                            <th>{{ getTotalIntensityGroupTotal('100 above') }}</th>
                            <th>{{ getTotalIntensityGroupTotalALL() }}</th>
                        </tr>
                      </table>
                  </div>

                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
