<section class="mainSection pb-5">
  <div class="header">
      <div class="container">
          <div class="row align-items-center g-3">
              <div class="col-8">
                  <img src="http://services.mahavedh.com/mahavedh_portal/images/logo.jpg" alt=""
                      class="img-fluid logo">
              </div>
              <div class="col-4">
                  <img src="http://services.mahavedh.com/mahavedh_portal/images/parternership.png" alt=""
                      class="img-fluid">
              </div>
          </div>
      </div>
  </div>
  <div class="mainContent">
      <div class="container">
          <div class="bodyContent py-5">
              <div class="row g-4">
                  <div class="col-md-6 col-lg-8">
                      <div class="info pt-5">
                          <p class="bodyText">
                              Mahavedh is a Public Private Partnership (PPP) project on Build, Own & Operate (BOO)
                              basis.
                              Through this project, the Government of Maharashtra (GoM) plans to establish a network
                              of
                              Automatic Weather Stations (AWS), at a rate of one AWS in every revenue circle. The AWS
                              network will comprise of an area of 12 square km in lowland and 5 square km in the
                              highland.
                          </p>
                          <p class="bodyText">
                              Through this project, quality weather data would be collected for a period of seven
                              years by
                              establishing a revenue circle wise network of AWS in Maharashtra. A network of more than
                              2,000 AWS have been planned to capture weather parameters such as rainfall, air
                              temperature,
                              relative humidity, wind speed and wind direction. Collected weather data will be used
                              for
                              crop insurance schemes, research and development purposes, weather forecasting, crop
                              advisories, implementation of welfare and development schemes, disaster management and
                              or
                              for any other purpose involving larger public interest through ICAR/state agriculture
                              universities.
                          </p>
                      </div>
                      <div class="objective py-3">
                          <h2 class="fs-6 text-muted">Objectives & Anticipated Benefits of the Project:</h2>
                          <ul class="py-2">
                              <li class="text-muted">
                                  To develop weather advisories
                              </li>
                              <li class="text-muted">
                                  To develop agro-met advisories
                              </li>
                              <li class="text-muted">
                                  Disaster management
                              </li>
                              <li class="text-muted">
                                  Research and development
                              </li>
                              <li class="text-muted">
                                  To implement welfare and development schemes
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-4">
                      <div class="portalLoginForm pt-5">
                          <form  class="loginForm"  [formGroup]="form" (ngSubmit)="submit()">
                              <div class="titleHeader text-center">
                                  <h1 class="fs-3 text-muted">Portal Login</h1>
                              </div>
                              <div  class="formcontent py-5">
                                  <span class="text-muted d-block pb-3">
                                      Sign in to start your session
                                  </span>
                                  <div class="input-group mb-3">
                                      <span class="input-group-text" id="user">
                                          <i class="bi bi-person-fill"></i>
                                      </span>
                                      <input type="text" formControlName = 'Username' class="form-control" placeholder="User name"
                                          aria-label="User name" aria-describedby="user" autofocus required>
                                  </div>
                                  <div class="input-group mb-3">
                                      <span class="input-group-text" id="password">
                                          <i class="bi bi-lock-fill"></i>
                                      </span>
                                      <input type="password" class="form-control" formControlName = 'Password' placeholder="password"
                                          aria-label="password" aria-describedby="password" autofocus required>
                                  </div>
                                  <div class="text-center">
                                      <button type="submit"class="btn btn-primary rounded-pill w-75 py-2 text-white fs-5">Sign in</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
this 
