<!--
  <div class="col-sm-6 col-md-1 mt-3">
      <div class="d-grid">
          <button class="btn btn-primary py-2" (click)="onSubmit()">Go</button>
      </div>
  </div> -->

  <!-- start content -->
<section class="user-right-side-content pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-xl-2">
             <app-side-navigation></app-side-navigation>
          </div>
          <div class="col-lg-9 col-xl-10 ps-md-4">
            <div class="row align-items-end">

              <div class="col-sm-6 col-md-2 mt-3">
                <select  name="selectedDistrict" class="form-select" [(ngModel)]="selectedDistrict">
                    <option  value="">-- All districts --</option>
                    <option *ngFor ="let item of districts" [value]="item.district">{{item.district_name}}</option>
                </select>
            </div>

            <div class="col-sm-6 col-md-2 mt-3"  >
              <select  name="selectedDistrict" class="form-select" [(ngModel)]="selectedMonth">
                <option  value="">-- For month --</option>
                <option *ngFor="let month of arraymonth"[value] ='month.value' >{{month.name}}</option>
              </select>
            </div>
              <div class="col-sm-6 col-md-1 mt-3">
                <div class="d-grid">
                    <button class="btn btn-primary py-2" (click)="onSubmit()">Go</button>
                </div>
            </div>
          </div>

               <div >
                  <div id="map" style="width: 900px; height: 640px; position: relative; resize: both;">
                    <div id="legend" style="position: absolute; right: 10px; z-index: 9999;">
                </div>

              </div>
            </div>
          </div>
      </div>
  </div>
</section>
